<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to D'Blog</title>
		<%= stylesheet_link_tag "home.css" %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="header" class="slideDown">
			<h1>Login-In Failed</a>
			<p><a href="/login/">Why Don't you Register?</a></p>
		</div>
		


	</body>
</html>