<%=stylesheet_link_tag 'headernav.css'%>




<div class="headernav">
  
  <a href="/posts">Newsfeed</a>
</div>


<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', posts_path %>
