<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to D'Blog</title>
        <link rel="stylesheet" type="text/css" href="home.css">
        <link rel="stylesheet" type="text/css" href="animation.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="header" class="slideDown">
            <h1><a href="/login">Welcome to D'Blog</a></h1>
        </div>
        <nav class="navigation">
        <ul>
        <li><a href="/login">Login | Register</a></li>
        </ul>
        </nav>
    </body>
</html>

	<head>
		<title>Welcome to D'Blog</title>
		<%= stylesheet_link_tag "home.css" %>
		<%= stylesheet_link_tag "animation.css" %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
		<meta charset="UTF-8">
	</head>
	<body>
		<div id="header" class="slideDown">
			<h1><a href="/login/">Welcome to D'Blog</a></h1>
		</div>
		<nav class="navigation">
		<ul>
		<li><a href="/login/">Login | Register</a></li>
		</ul>
		</nav>

		<!-- Google Analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

	</body>
</html>

