
#header{
	text-align: center;
	color: white;
	font-family: 'Arvo', serif;
	font-size: 35px;
}

body{
	background-color: #DD5858;
}

section{
	float: right;
	width: 900px;
	border-style: solid;
	border-bottom-left-radius: 10px;
	color: white;
	margin-right: 150px;
	height: 300px;
	position: relative;
}


h2{
	font-family: 'Arvo', serif;
	color: white;
}

h2 .login .signup{
	font-family: 'Arvo', serif;
}


.login{
	float: left;
	margin-left: 30px;
	position: relative;
	/*float:right;*/
}

.signup{
	float: right;
	margin-right: 50px;
	position: relative;
	font-size: 15px;
}

input{
	border:2px solid white;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

.vertical-line{
  width: 3px; 
  background-color: white;
  height: 100%; 
  float: left; 
   
    margin-left: 150px;
}

ul li a{
	text-decoration: none;
	color: white;
}

li{
	list-style: none;
}

nav{
    text-align: center;
    margin-top: 350px;
}
 *= require_tree .
 *= require_self
 */
