
#header{
	text-align: center;
	color: white;
	font-family: 'Arvo', serif;
	font-size: 35px;
}

body{
	background-color: #DD5858;
}

.container{
	float: left;
	width: 615px;
	border-style: solid;
	border-bottom-left-radius: 10px;
	color: white;
	margin-right: auto;
	margin-left: auto;
	height: 350px;
	position: auto;
}

.container2{
	float: right;
	width: 615px;
	border-style: solid;
	border-bottom-left-radius: 10px;
	color: white;

	margin-right: 150px;
	height: 300px;

	/*margin-top:-307px;*/
	margin-right: auto;
	margin-left: auto;
	height: 350px;
	position: auto;


}


h2{
	font-family: 'Arvo', serif;
	color: white;
	text-align:center;
}

h2 .login .signup{
	font-family: 'Arvo', serif;
}


.login{
	float: left;
	height:auto;
	width:200px;
	margin-left: 30px;

	

	position: relative;
	display:block;

	/*float:right;*/

}

.signup{
	float: right;

	margin-right: 50px;
	

	height:auto;
	width:500px;
	position: relative;

	font-size: 15px;
	display:block;
}

input{
	border:2px solid white;
	border-radius:10px;
	height: 22px;
	width: 400px;
	margin:3px;
	padding:5px;

}


.vertical-line{
  width: 3px; 
  background-color: white;
  height: 100%; 
  float: left; 
   
    margin-left: 150px;
}

ul li a{
	text-decoration: none;
	color: white;
}

li{
	list-style: none;
}

nav{
    text-align: center;
    /*margin-top: 350px;*/

}
.container input{
	margin-left:110px;
}


.form {
	display: block;
}

.registration_form {
	display: block;
}
