.postcontainer{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	font-family:'Arvo', serif;
}

td{
	background-color:black;
	color:white;

}

th{
	background-color:white;
}

a{
font-family: 'Arvo', serif;
}